html { 
    height: 100%;
    
}

body {
    margin: 0;
    padding:0px;
    text-align: center;
    overflow-x: hidden;
    min-height: 100%;
}

body h1{
    margin: 0;
}

body h2{
    margin: 0;
}

body h3{
    margin: 0;
}

body h4{
    margin: 0;
}

body h5{
    margin: 0;
}

body h6{
    margin: 0;
}

caption{
    caption-side: top;
    background-color: #f8f9fa;
    padding-left: 1vh;
    padding-right: 1vh;
}

.asies{
    caption-side: bottom;
    background-color: #f8f9fa;
    padding-left: 1vh;
    padding-right: 1vh;
}

/* Dark Mode*/

h1 .darkmode{
    background-color: rgb(32,32,44);
    color: white;
}

/* Extensión de BootStrap */

    /* Botones */

#bootstrap-overrides .btn-primary{
    --bs-btn-bg: rgb(99, 20, 168);
    --bs-btn-border-color: rgb(99, 20, 168);
    --bs-btn-hover-bg: rgb(193, 161, 220);
    --bs-btn-hover-border-color: rgb(193, 161, 220);
    --bs-btn-active-border-color: rgb(99, 20, 168);
    --bs-btn-active-bg: rgb(99, 20, 168);
    --bs-btn-disabled-bg: rgb(193, 161, 220);
    --bs-btn-disabled-border-color: rgb(193, 161, 220);
}

#bootstrap-overrides .btn-back{
    --bs-btn-bg: rgb(255, 255, 255);
    --bs-btn-border-color: rgb(255, 255, 255);
    --bs-btn-hover-bg: rgb(218, 218, 218);
    --bs-btn-hover-border-color: rgb(218, 218, 218);
    --bs-btn-active-border-color: rgb(255, 255, 255);
    --bs-btn-active-bg: rgb(255, 255, 255);
    --bs-btn-disabled-bg: rgb(218, 218, 218);
    --bs-btn-disabled-border-color: rgb(218, 218, 218);
    --bs-btn-color: rgb(99, 20, 168);
}

#bootstrap-overrides .btn-logo{
    --bs-btn-bg: rgb(237, 236, 238);
    --bs-btn-border-color: rgb(237, 236, 238);
    --bs-btn-hover-bg: rgba(0, 0, 0, 0.075);
    --bs-btn-hover-border-color: rgb(237, 236, 238);
    --bs-btn-active-border-color: rgb(237, 236, 238);
    --bs-btn-active-bg: rgb(237, 236, 238);
    --bs-btn-disabled-bg: rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-border-color: rgb(237, 236, 238);
    --bs-btn-border-radius: 2.5vh;
}

#bootstrap-overrides .btn-sidebar{
    --bs-btn-bg: rgb(230, 230, 230);
    --bs-btn-border-color: rgb(230, 230, 230);
    --bs-btn-hover-bg: rgb(99, 20, 168);
    --bs-btn-hover-border-color: rgb(99, 20, 168);
    --bs-btn-active-border-color: rgb(230, 230, 230);
    --bs-btn-active-bg: rgb(230, 230, 230);
    --bs-btn-disabled-bg: rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-border-color: rgb(230, 230, 230);
    --bs-btn-border-radius: 0;
    --bs-btn-color: rgb(99, 20, 168);
    --bs-btn-hover-color: rgb(230, 230, 230);
}

    /*Checkbox slider*/
#bootstrap-overrides .form-check-input:checked{
    background-color: rgb(99, 20, 168);
    border-color: rgb(99, 20, 168);
}
#bootstrap-overrides .form-switch .form-check-input{
    width: 3em;
}
#bootstrap-overrides .form-check-input{
    margin-right: 1em;
    margin-left: -2em;
    height: 1.7em;
}

/* Sidebar */

.sidebar{
    position: fixed;
    height: 100%;
    background-color: rgb(237, 236, 238);
    color: rgb(99, 20, 168);
}

.sidebar li, .sidebar button{
    width: 100%;
    height: 100%;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    background-color: rgb(237, 236, 238);
    min-height: 8vh;
}

.nav-links{
    padding-left: 0%;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    transform: translateX(-100%);
    transition: 0.5s ease-in;
    background-color: rgb(237, 236, 238);
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(236, 230, 225);
    width: 100%;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.logo a{
    color: rgb(236, 230, 225);
    text-decoration: none;
}

.logo a img{
    height: 5vh;
}

.burg{
    display: none;
    cursor: pointer;
}

.burg div{
    width: 25px;
    height: 2px;
    background-color: rgb(99, 20, 168);
    margin: 5px;
    transition: all 0.3s ease;
}

/* Responsiveness */

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width:768px){
    .fondo-falso{
        height: 84vh;
        width: 100%;
        background: url('/static/IMG/colores-celular.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.burg{
    display: block;
}


/* contracción de la navbar */

.nav-active{
    transform: translateX(0%);
}

/* animaciones*/

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* animación botón hamburguesa (navbar) */

.toggle .linea1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .linea2{
    opacity: 0;
}

.toggle .linea3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* fondos */

.fondo-falso{
    height: 84vh;
    width: 100%;
    background: url('/static/IMG/colores.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fondo-global{
     background-color: rgb(232, 232, 238);
}

.oscuro{
    background-color: rgb(32,32,44);
}

.fondo-home{
    background: url('/static/IMG/colores.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Footer */
footer{
    bottom: 0px;
}
.pie{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    background-color: rgb(237, 236, 238);
    color: rgb(99, 20, 168);
    min-height: 8vh;
}

/* Recursos */

.panel-blanco-redondo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 25px;
    width: 80%;
}

.espacio{
    padding-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.relleno{
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esp-input{
    padding-bottom: 1vh;
}

.medio-tx{
    text-align: center;
}