/* Página */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@page{
    margin: 10px;
}

/* Checklist */
.check_success{
    color: green;
    list-style: none;
}

.check_fail{
    color: brown;
    list-style: none;
}

.check_success::before{
    content: '\1F5F8';
    margin: 0;
}
.check_fail::before{
    content: '\00D7';
    margin: 0;
}

/* Mejora */
.mejora{
    overflow: visible;
}
