body {
    margin: 0;
    padding:0px;
    text-align: center;
    overflow-x: hidden;
}

body h1{
    margin: 0;
}

body h2{
    margin: 0;
}

body h3{
    margin: 0;
}

body h4{
    margin: 0;
}

body h5{
    margin: 0;
}

body h6{
    margin: 0;
}

/* Sidebar */

#sidebar{
    position: fixed;
    height: 100%;
    background-color: rgb(104, 171, 180);
}

#sidebar li, #sidebar button{
    width: 100%;
    height: 100%;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    background-color: rgb(15, 117, 131);
    min-height: 8vh;
}

.nav-links{
    padding-left: 0%;
    justify-content: space-around;
    position: absolute;
    left: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    transform: translateX(-100%);
    transition: 0.5s ease-in;
    background-color: rgb(104, 171, 180);
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(236, 230, 225);
    width: 100%;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.logo a{
    color: rgb(236, 230, 225);
    text-decoration: none;
}

.burg{
    display: none;
    cursor: pointer;
}

.burg div{
    width: 25px;
    height: 2px;
    background-color: rgb(236, 230, 225);
    margin: 5px;
    transition: all 0.3s ease;
}

/* Responsiveness */

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width:768px){
    .fondo-falso{
        height: 84vh;
        width: 100%;
        background: url('/static/IMG/colores-celular.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.burg{
    display: block;
}


/* contracción de la navbar */

.nav-active{
    transform: translateX(0%);
}

/* animaciones*/

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* animación botón hamburguesa (navbar) */

.toggle .linea1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .linea2{
    opacity: 0;
}

.toggle .linea3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* fondos */

.fondo-falso{
    height: 84vh;
    width: 100%;
    background: url('/static/IMG/colores.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fondo-home{
    background: url('/static/IMG/colores.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Footer */
.pie{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    background-color: rgb(15, 117, 131);
    color: rgb(63, 73, 75);
    min-height: 8vh;
}

/* Recursos */

.panel-blanco-redondo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 25px;
    width: 80%;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.relleno{
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}