<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>{%block titulo%}{%endblock%}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
        <script src="{%static 'js/main.js'%}"></script>
        <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">  

        <link href="http://fonts.cdnfonts.com/css/futura-pt" rel="stylesheet">
        
        <script>
            $(function() {
                const burg = document.querySelector('.burg');
                const nav = document.querySelector('.nav-links');
                const navLinks = document.querySelectorAll('nav-links li');
    
                burg.addEventListener('click', () => {
    
                    nav.classList.toggle('nav-active');
                
    
                    navLinks.forEach((link, index) => {
                        if (link.style.animation) {
                            link.style.animation = '';
                        }
                        else {
                            link.style.animation = `navLinkFade 0.5s ease forwards ${index / 2 + 1}s`;
                            console.log(index / 7);
                        }
                    });
    
                    burg.classList.toggle('toggle');
                });
            });
        </script>

        {%block head%}{%endblock%}

    </head>
    <body id="bootstrap-overrides">
        <nav class="sticky-top">
            {%if request.session.usuario%}
                <div class="burg btn btn-logo">
                    <div class="linea1"></div>
                    <div class="linea2"></div>
                    <div class="linea3"></div>
                </div>
            {%else%}
                <div>
                </div>
            {%endif%}
                <div class="logo">
                    <h4><a class="btn btn-logo btn-sm" href="{%url 'index'%}"><img class="img-fluid" src="{%static 'IMG/ssap.png'%}"></a></h4>
                </div>
                <ul class="nav-links sidebar">

                    <li><a href="{%url 'index'%}"><button class="btn btn-sidebar" type="button"><strong>Menú Principal</strong></button></a></li>

                    {%if request.session.usuario.tipo == 'CLIENTE'%}
                    <li><a href="{%url 'notificaciones'%}"><button class="btn btn-sidebar" type="button"><strong>Notificaciones</strong></button></a></li>
                    {%elif request.session.usuario.tipo == 'PROFESIONAL'%}
                    <li><a href="{%url 'verclientes'%}"><button class="btn btn-sidebar" type="button"><strong>Ver Clientes</strong></button></a></li>
                    <li><a href="{%url 'checklists'%}"><button class="btn btn-sidebar" type="button"><strong>Check Lists</strong></button></a></li>
                    <li><a href="{%url 'visitas'%}"><button class="btn btn-sidebar" type="button"><strong>Visitas</strong></button></a></li>
                    {%elif request.session.usuario.tipo == 'ADMINISTRADOR' %}   
                    <li><a href="{%url 'gestionusuario'%}"><button class="btn btn-sidebar" type="button"><strong>Gestionar Usuarios</strong></button></a></li>
                    <li><a href="{%url 'veractividades'%}"><button class="btn btn-sidebar" type="button"><strong>Ver Actividades</strong></button></a></li>
                    {%endif%}

                    <li><a href="{%url 'logout'%}"><button class="btn btn-sidebar" type="button"><strong>Logout</strong></button></a></li>
                    
                </ul>
                <div>
                </div>
        </nav>
        {%block contenido%}
        {%endblock%}
        <footer class="pie">
            <h3> Prototipo </h3>
        </footer>
    </body>
</html>