{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Capacitaciones{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">

        <div class="contenedor">

            <div class="espacio">

                <div class="row esp-input">
                    <div class="card">
                        <div class="card-body">
                        <h1 class="card-title tx-gradiente-p">Capacitaciones</h1>
                        </div>
                    </div>
                </div>
                
                <table class="table table-responsive table-light table-striped align-middle">
                    <thead>
                        <caption>
                            <h3 class="tx-gradiente-p medio-tx">Historial de Capacitaciones</h3>
                        </caption>

                        <caption>
                            <a href="" class="btn btn-primary col-sm-12">Crear Capacitación</a>
                        </caption>
                        
                        <caption>
                            <input type="text" class="buscarTabla form-control form-control-lg col-sm-12" placeholder="Buscar en Tabla">
                        </caption>
                        
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Acciones</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <th>Entrenamiento Minero 1</th>
                            <th>Mi casa, Renca</th>
                            <th>Por Realizar</th>
                            <th>2 Horas</th>
                            <th>12/01/2023</th>
                            <th>
                                     <div>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <input type="submit" value="Marcar Realizada" class="accion btn btn-success col-sm-12">
                                        </form>
                                    </div>
                                    <div>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <input type="submit" value="Ver detalles" class="accion btn btn-primary col-sm-12">
                                        </form>
                                    </div>
                                    <div>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <input type="submit" value="Eliminar" class="accion btn btn-danger col-sm-12">
                                        </form>
                                    </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}