{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Capacitaciones{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">

        <div class="contenedor">

            <div class="espacio">

                <div class="row esp-input">
                    <div class="card">
                        <div class="card-body">
                        <h1 class="card-title tx-gradiente-p">Capacitaciones</h1>
                        </div>
                    </div>
                </div>
                
                {% for mensaje in messages %}
                    <br>
                    <div class="alert alert-primary alert-dismissible fade show col-sm-12" role="alert">
                        <strong>{{mensaje}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                <table class="table table-responsive table-light table-striped align-middle">
                    <thead>
                        <caption>
                            <h3 class="tx-gradiente-p medio-tx">Historial de Capacitaciones</h3>
                        </caption>

                        <caption>
                            <a href="{%url 'crearCapacitacion'%}" class="btn btn-primary col-sm-12">Crear Capacitacion</a>
                        </caption>
                        
                        <caption>
                            <input type="text" class="buscarTabla form-control form-control-lg col-sm-12" placeholder="Buscar en Tabla">
                        </caption>
                        
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Fecha y Hora</th>
                            <th scope="col">Acciones</th>
                        </tr>

                    </thead>
                    <tbody>
                        {%for capacitacion in capacitaciones%}
                            <tr>
                                <th style="max-width: 200px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">{{capacitacion.nombre}}</th>
                                <th>{{capacitacion.ubicacion}}</th>
                                <th>{{capacitacion.estado}}</th>
                                <th>{{capacitacion.duracion}} Horas</th>
                                <th>{{capacitacion.fecha | date:"d/m/Y H:i"}}</th>
                                <th>
                                    {%if capacitacion.estado == 'PENDIENTE'%}
                                    <div>
                                        <form action="{% url 'realizar_capacitacion' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{capacitacion.id_capacitacion}}" name="id_capacitacion">
                                            <input type="submit" value="Marcar Realizada" class="accion btn btn-success col-sm-12">
                                        </form>
                                    </div>
                                    <div>
                                        <form action="{%url 'detalleCapacitacion'%}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{capacitacion.id_capacitacion}}" name="id_capacitacion">
                                            <input type="submit" value="Ver detalles" class="accion btn btn-primary col-sm-12">
                                        </form>
                                    </div>
                                    <div>
                                        <form action="{% url 'cancelar_capacitacion'%}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{capacitacion.id_capacitacion}}" name="id_capacitacion">
                                            <input type="submit" value="Cancelar" class="accion btn btn-danger col-sm-12">
                                        </form>
                                    </div>
                                    {%else%}
                                    <div>
                                        <a href="{% url 'detalleCapacitacion' id=capacitacion.id_capacitacion%}" class="accion btn btn-primary col-sm-12">Ver detalles</a>
                                    </div>
                                    {%endif%}
                                </th>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}