{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Capacitaciones{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">

        <div class="contenedor">

            <div class="espacio">

                <div class="row esp-input">
                    <div class="card">
                        <div class="card-body">
                        <h1 class="card-title tx-gradiente-p">Capacitaciones</h1>
                        </div>
                    </div>
                </div>
                
                <table class="table table-responsive table-light table-striped align-middle">
                    <thead>
                        <caption>
                            <h3 class="tx-gradiente-p medio-tx">Historial de Capacitaciones</h3>
                        </caption>
                        
                        <caption>
                            <input type="text" class="buscarTabla form-control form-control-lg col-sm-12" placeholder="Buscar en Tabla">
                        </caption>
                        
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Fecha y Hora</th>
                        </tr>

                    </thead>
                    <tbody>
                        {%for capacitacion in capacitaciones%}
                            <tr>
                                <th>{{capacitacion.nombre}}</th>
                                <th>{{capacitacion.ubicacion}}</th>
                                {% if estado%}
                                    <th>Realizada</th>
                                {% else %}
                                    <th>Por Realizar</th>
                                {% endif %}
                                <th>2 Horas</th>
                                <th>{{capacitacion.fecha | date:"d/m/Y H:m"}}</th>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}