{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Control de Pagos{%endblock%}
{%block contenido%}
<div class="fondo-home">

    <div class="contenedor">
        <div class="panel-blanco-redondo row esp-input contenedor">

            <div style="text-align: center;" class="pantalla col-sm-6 relleno">
                <h2>RUT: 34.567.789-1</h2>
                <h2>Cliente: Duoc UC</h2>
            </div>

            <div style="text-align: center;" class="pantalla col-sm-6 relleno">
                <h2>Estado: <kbd>Atrasado</kbd></h2>
            </div>

        </div>
        <div class="panel-blanco-redondo row esp-input">
            <table class="table table-responsive table-light table-striped align-middle">
                <thead>
                    <tr>
                        <caption>
                            Tabla de Pagos
                        </caption>

                        <th scope="col">Fecha Límite</th>
                        <th scope="col">Fecha Pago</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Boleta</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">23/02/2022</th>
                        <th scope="col">N/A</th>
                        <th scope="col">N/A</th>
                        <th scope="col">Atrasado</th>
                        <th scope="col">N/A</th>

                        <th scope="col">
                            <div class="row esp-input">
                                <form action="{}" method="post" class="col-sm-12">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{}">
                                    <input type="hidden" name="nombre" value="{}">
                                    <input type="submit" value="Reportar Atraso" class="accion btn btn-danger col-sm-12">
                                </form>
                            </div>
                        </th>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
{%endblock%}