{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Crear Capacitacion{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">
        <div class="contenedor">
            <div class="espacio">
                {% for mensaje in messages %}
                    <div class="alert alert-danger alert-dismissible fade show col-sm-12" role="alert">
                        <strong>{{mensaje}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                <div style="text-align: center; width: 90%;">
                    <div class="row esp-input">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title tx-gradiente-p">Crear Capacitacion</h1>
                            </div>
                        </div>
                    </div>
                    <form id="crearCapacitacion" action="" method="post">
                        {%csrf_token%}
                        <div class="card col-sm-12">
                            <div class="card-body">
                                <div class="row esp-input">
                                    <label for="nombre_empresa" class="col-sm-4 col-form-label col-form-label-lg">Cliente:</label>
                                    <div class="col-sm-8">
                                        <select class="form-select form-select-lg"  name="nombre_empresa">
                                            {%for cliente in clientes%}
                                                <option value="{{cliente.rut}}">{{cliente.nombre_empresa}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row esp-input">
                                    <label for="nombre" class="col-sm-4 col-form-label col-form-label-lg">Titulo Capacitacion:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-lg" type="text" name="nombre" placeholder="Nombre Capacitacion"></input>
                                    </div>
                                </div>

                                <div class="row esp-input">
                                    <label for="duracion" class="col-sm-4 col-form-label col-form-label-lg">Duracion (Horas):</label>
                                    <div class="col-sm-8">
                                        <div class="col-sm-5" style="display: flex;">
                                            <input class="form-control form-control-lg" type="text" placeholder="2" name="duracion"></input> 
                                            <label for="duracion" class="col-form-label col-form-label-lg">&nbsp&nbspHoras</label>
                                        </div>
                                    </div>
                                </div>                    
            
                                <div class="row esp-input">
                                    <label for="fecha" class="col-sm-4 col-form-label col-form-label-lg">Fecha Evento:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-lg" type="date" name="fecha"></input>
                                    </div>
                                </div>
            
                                <div class="row esp-input">
                                    <label for="comuna" class="col-sm-4 col-form-label col-form-label-lg">Comuna: </label>
                                    <div class="col-sm-8">
                                        <select class="form-select form-select-lg"  name="comuna" placeholder="Seleccione Comuna">
                                            {{comunas | safe}}
                                        </select>
                                    </div>
                                </div>

                                <div class="row esp-input">
                                    <label for="ubicacion" class="col-sm-4 col-form-label col-form-label-lg">Ubicacion:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-lg" type="text" name="ubicacion" placeholder="Calle Falsa"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row esp-input">
                            <div class="col-sm-6">
                                <a class="btn btn-back btn-lg col-sm-12" href="{%url 'capacitaciones_prof'%}">Volver</a>
                            </div>
                            <div class="col-sm-6">
                                <input type="submit" value="Crear Capacitacion" class="btn btn-primary btn-lg col-sm-12"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}