{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Gestión de Usuarios{%endblock%}
{%block contenido%}
<div class="fondo-home">

    <div class="contenedor">
        <div class="espacio">

            <div class="row esp-input col-sm-12">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Cliente</h5>
                      <h1>Duoc UC</h1>
                      <h2>RUT: <kbd>34.567.789-1</kbd></h2>
                    </div>
                  </div>
            </div>

                
            <table class="table table-responsive table-light table-striped align-middle">
                <thead>
                    <caption class="asies">
                        <button type="button" class="btn btn-primary btn-lg col-sm-12">+</button>
                    </caption>
                </thead>
                <tr>
                    <th>
                        <div class="form-check form-switch float-start">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Seguiridad en Maquinaria</label>
                            
                        </div>
                        <div class="float-end">
                            <button type="button" class="btn btn-secondary btn-sm">Eliminar</button>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-check form-switch float-start">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Herramientas Sin oxido</label>
                        </div>
                        <div class="float-end">
                            <button type="button" class="btn btn-secondary btn-sm">Eliminar</button>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-check form-switch float-start">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Homero Sinso</label>
                        </div>
                        <div class="float-end">
                            <button type="button" class="btn btn-secondary btn-sm">Eliminar</button>
                        </div>
                    </th>
                </tr>
            </table>

            <div class="row esp-input col-sm-12">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-back btn-lg col-sm-12">Cancelar</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-lg col-sm-12">Guardar</button>
                </div>
            </div>

        </div>

    </div>
</div>
{%endblock%}