{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Crear Usuario{%endblock%}
{%block head%}<script src="{%static 'js/crearUsuario.js'%}"></script>{%endblock%}
{%block contenido%}
<div class="fondo-home">

    <div class="contenedor">

        <div class="panel-blanco-redondo">
            
            <div style="text-align: center;">
                <h2>Crear Usuario</h2>
                
                <form id="formCrear" action="" method="post">
                    {%csrf_token%}
                    <div class="row">
                        <label for="username" class="col-sm-4 col-form-label col-form-label-lg">Rut:</label>
                        <div class="col-sm-8">
                            {{crearUsuario.username}}</input>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label for="password1" class="col-sm-4 col-form-label col-form-label-lg">Contraseña:</label>
                        <div class="col-sm-8">
                            {{crearUsuario.password1}}</input>
                        </div>
                    </div>                    

                    <div class="row">
                        <label for="password2" class="col-sm-4 col-form-label col-form-label-lg">Repetir Contraseña:</label>
                        <div class="col-sm-8">
                            {{crearUsuario.password2}}</input>
                        </div>
                    </div>

                    <div class="row">
                        <label for="direccion" class="col-sm-4 col-form-label col-form-label-lg">Direccion:</label>
                        <div class="col-sm-8">
                            <input class="form-control form-control-lg" type="text" name="direccion" placeholder="Calle Falsa 1"></input><br>
                        </div>
                    </div>

                    <div class="row">
                        <label for="tipo" class="col-sm-4 col-form-label col-form-label-lg">Tipo Usuario:</label>
                        <div class="col-sm-8">
                            <select class="form-select form-select-lg" name="tipo" id="tipo" onchange="cambioTipo()">
                                <option value="CLIENTE">CLIENTE</option>
                                <option value="PROFESIONAL">PROFESIONAL</option>
                                <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                            </select>
                        </div>
                    </div>

                    <div id="cliente">

                        <div class="row">
                            <label for="nombre_empresa" class="col-sm-4 col-form-label col-form-label-lg">Nombre Empresa:</label>
                            <div class="col-sm-8">
                                <input class="form-control form-control-lg" type="text" name="nombre_empresa" id="nombre_empresa_f" placeholder="Empresa Falsa"></input>
                            </div>
                        </div>

                        <div class="row">
                            <label for="rubro" class="col-sm-4 col-form-label col-form-label-lg">Rubro:</label>
                            <div class="col-sm-8">
                                <input class="form-control form-control-lg" type="text" name="rubro" id="rubro" id="rubro_f" placeholder="Mineria"></input>
                            </div>
                        </div>

                        <div class="row">
                            <label for="cant_trabajadores" class="col-sm-4 col-form-label col-form-label-lg">Cantidad Trabajadores:</label>
                            <div class="col-sm-8">
                                <input class="form-control form-control-lg" type="text" name="cant_trabajadores" id="cant_trabajadores_f" placeholder="2"></input>
                            </div>
                        </div>

                        <label for="cant_trabajadores" id="cant_trabajadores_l">Cantidad Trabajadores:</label>
                        <hr>
                        <h3>Definicion de contrato</h3>
                        <label for="costo_base">Costo Base: $</label>
                        <input class="form-control" type="text" name="costo_base" placeholder="200000"><br>
                        <label for="fecha_firma">Fecha Firma:</label>
                        <input class="form-control" type="date" name="fecha_firma"><br>
                        <label for="profesionalCliente">Profesional Encargado: </label>
                        <select class="form-select" name="profesionalCliente">
                            {%for p in profesionales%}
                                <option value="{{p.rut}}">{{p.nombre}}</option>
                            {%endfor%}
                        </select>
                    </div>

                    <div id="profesional">
                        <label for="nombre_profesional" id="nombre_profesional_l">Nombre:</label>
                        <input type="text" name="nombre_profesional" id="nombre_profesional_f" placeholder="Persona Falsa"></input><br>
                    </div>

                    <div id="administrador">
                        <label for="nombre_administrador" id="nombre_administrador_l">Nombre:</label>
                        <input type="text" name="nombre_administrador" id="nombre_administrador_f" placeholder="Persona Falsa"></input><br>
                    </div>
                    <input type="submit" value="Crear Usuario"></input>
                </form>
                <br><a href="{%url 'gestionusuario'%}"><button>Volver</button></a><br>
                {% for mensaje in messages %}
                    {{mensaje}}<br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}