{%extends 'SSAP/base.html'%}
{%load static%}
{%block titulo%}SSAP | Crear Solicitud{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-falso">
        <div class="contenedor">
            <div class="espacio">

                <div style="text-align: center; width: 90%;">

                    <div class="row esp-input">
                        <div class="card">
                            <div class="card-body">
                            <h1 class="card-title tx-gradiente-p">Crear Solicitud</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row esp-input">
                        <form id="formCrear" action="" method="post">

                            <div class="row esp-input">
                                <label for="tipo" class="col-sm-4 col-form-label col-form-label-lg">Tipo Solicitud:</label>
                                <div class="col-sm-8">
                                    <select class="form-select form-select-lg" name="tipo" id="tipo">
                                        <option>Asesoría</option>
                                        <option>Capacitación</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row esp-input">
                                <label for="tipo-asesoria" class="col-sm-4 col-form-label col-form-label-lg">Tipo Asesoría:</label>
                                <div class="col-sm-8">
                                    <select class="form-select form-select-lg" name="tipo" id="tipo-asesoria">
                                        <option>Visita</option>
                                        <option>Accidente</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row esp-input col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <label for="comment" class="float-start"><h4>Motivo:</h4></label>
                                        <textarea class="form-control" rows="5" id="comment" name="mejora"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row esp-input">
                                <label for="archivo" class="col-sm-4 col-form-label col-form-label-lg">Archivo adjunto (Opcional):</label>
                                <div class="col-sm-8">
                                    <h4><strong class="tx-gradiente-am"><input type="file"></strong></h4>
                                </div>
                            </div>

                        </form>

                        <div class="row esp-input col-sm-12">
                            <div class="col-sm-6">
                                <a class="btn btn-back btn-lg col-sm-12" href="" >Volver</a>
                            </div>
                            <div class="col-sm-6">
                                <input type="submit" value="Crear Solicitud" class="btn btn-primary btn-lg col-sm-12"></input>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}