{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Detalle Capacitacion{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">
        <div class="contenedor">
            <div class="espacio">
                <div style="text-align: center; width: 90%;">
                    <div class="row esp-input">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="card-title tx-gradiente-p">Detalle Capacitacion</h1>
                            </div>
                        </div>
                    </div>

                    <div class="card col-sm-12">
                        <div class="card-body">
                            <div class="row esp-input">
                                <label for="nombre_empresa" class="col-sm-4 col-form-label col-form-label-lg">Cliente:</label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-lg" type="text" name="nombre" placeholder="Cliente Default" value="{{capacitacion.nombre_cliente}}" disabled></input>
                                </div>
                            </div>
                            
                            <div class="row esp-input">
                                <label for="nombre" class="col-sm-4 col-form-label col-form-label-lg">Titulo Capacitacion:</label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-lg" type="text" name="nombre" placeholder="Nombre Capacitacion" value="{{capacitacion.nombre}}" disabled></input>
                                </div>
                            </div>

                            <div class="row esp-input">
                                <label for="duracion" class="col-sm-4 col-form-label col-form-label-lg">Duracion (Horas):</label>
                                <div class="col-sm-8">
                                    <div class="col-sm-5" style="display: flex;" id="divHoras">
                                        <input class="form-control form-control-lg" type="text" placeholder="2" name="duracion" id="txbHoras" value="{{capacitacion.duracion}}" disabled></input> 
                                        <label for="duracion" class="col-form-label col-form-label-lg">&nbsp&nbspHoras</label>
                                    </div>
                                </div>
                            </div>                    
        
                            <div class="row esp-input">
                                <label for="fecha" class="col-sm-4 col-form-label col-form-label-lg">Fecha y Hora:</label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-lg" type="text" name="fecha" value="{{capacitacion.fecha | date:'d/m/Y H:i'}}" disabled></input>
                                </div>
                            </div>
        
                            <div class="row esp-input">
                                <label for="comuna" class="col-sm-4 col-form-label col-form-label-lg">Comuna:</label>
                                <div class="col-sm-8">
                                    <select class="form-select form-select-lg"  name="comuna" placeholder="Seleccione Comuna" disabled>
                                        {{comunas | safe}}
                                    </select>
                                </div>
                            </div>

                            <div class="row esp-input">
                                <label for="ubicacion" class="col-sm-4 col-form-label col-form-label-lg">Ubicacion:</label>
                                <div class="col-sm-8">
                                    <input class="form-control form-control-lg" type="text" name="ubicacion" placeholder="Calle Falsa" value="{{capacitacion.ubicacion}}" disabled></input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row esp-input">
                        <div class="col-sm-12">
                            <a class="btn btn-back btn-lg col-sm-12" href="{%url 'capacitaciones_prof'%}">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}