{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Modificar Visita{%endblock%}
{%block contenido%}
<div class="fondo-falso">
    <div class="contenedor">
        <div class="espacio">
            <div class="row esp-input col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Periodo: 01/03</h3>
                        <h2>RUT: <kbd>34.567.789-1</kbd></h2>
                        <h1>Duoc UC</h1>
                    </div>
                </div>
            </div>
        
            <div style="text-align: center; width: 90%;">
                <div class="row esp-input">
                    <label for="ubicacion" class="col-sm-4 col-form-label col-form-label-lg">Ubicacion:</label>
                    <div class="col-sm-8">
                        <input class="form-control form-control-lg" type="text" name="ubicacion" placeholder="Antonio Varas 666"></input>
                    </div>
                </div>

                <div class="row esp-input">
                    <label for="fecha" class="col-sm-4 col-form-label col-form-label-lg">Fecha:</label>
                    <div class="col-sm-8">
                        <input class="form-control form-control-lg" type="date" name="fecha"><br>
                    </div>
                </div>

                <div class="row esp-input col-sm-12">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-back btn-lg col-sm-12">Volver</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary btn-lg col-sm-12">Modificar Visita</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}