{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Pagos{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">
        <div class="contenedor">
            <div class="espacio">

                <div class="row esp-input col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title tx-gradiente-p medio-tx">Mis Pagos</h1>
                            <h1>{{request.session.subtipo.nombre_empresa}}</h1>
                            <h2>RUT: {{request.session.subtipo.rut}}</h2>
                            <h2>Estado: <kbd> {{estado}}</kbd></h2>
                        </div>
                    </div>
                </div>
                <div class="row esp-input col-sm-12">
                    {% for mensaje in messages %}
                        <br>
                        <div class="alert alert-primary alert-dismissible fade show col-sm-12" role="alert">
                            <strong>{{mensaje}}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    <table class="table table-responsive table-light table-striped">
                        <thead>
                            <caption>
                                <h3 class="tx-gradiente-p medio-tx">Tabla de Pagos</h3>
                            </caption>
                            
                            <tr>
                                <th scope="col">Fecha Límite</th>
                                <th scope="col">Fecha Pago</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Boleta</th>
                                <th scope="col">Acciones</th>
                            </tr>
    
                        </thead>
                        <tbody>
                            {%for m in mensualidades%}
                                <tr>
                                    <th scope="col">{{m.fecha_limite | date:"d/m/Y"}}</th>
                                    {%if not m.fecha_pago %}  
                                        <th scope="col">N/A</th>
                                    {%else%}
                                        <th scope="col">{{m.fecha_pago | date:"d/m/Y"}}</th>
                                    {%endif%}
                                    <th scope="col">${{m.costo}}</th>
                                    {%if m.estado%}
                                        <th scope="col">Pagado</th>
                                    {%else%}
                                        {%if m.esta_atrasado%}
                                            <th scope="col">Atrasado</th>
                                        {%else%}
                                            <th scope="col">Pendiente</th>
                                        {%endif%}
                                    {%endif%}
                                    {%if not m.boleta%}
                                        <th scope="col">N/A</th>
                                    {%else%}
                                        <th scope="col"><a href="{% url 'boleta_cli' m.boleta%}">Link</a></th>
                                    {%endif%}
                                    {%if not m.estado%}
                                        <th>
                                            <form action="{% url 'pagar' %}" method="post" class="col-sm-12">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{m.id_mensualidad}}">
                                                <input type="submit" value="Pagar" class="accion btn btn-primary col-sm-12">
                                            </form>
                                        </th>
                                    {%else%}
                                        <th>
                                            <button class="accion btn btn-primary col-sm-12" disabled>Pagar</button>
                                        </th>
                                    {%endif%}
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{%endblock%}