{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Programar Visita{%endblock%}
{%block head%}<script src="{%static 'js/crearVisitas.js'%}"></script>{%endblock%}
{%block contenido%}
<div class="fondo-falso">
    <div class="contenedor">
        <div class="espacio">
            <div class="row esp-input col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Periodo: {{visita.periodo | date:'m/Y'}}</h3>
                        <h2>RUT: <kbd>{{cliente.rut}}</kbd></h2>
                        <h1>{{cliente.nombre_empresa}}</h1>
                    </div>
                </div>
            </div>
        
            <div style="text-align: center; width: 90%;">
                <form id="visita" action="" method="post">
                {% csrf_token %}
                <div class="row esp-input">
                    <label for="comuna" class="col-sm-4 col-form-label col-form-label-lg">Comuna:</label>
                    <div class="col-sm-8">
                        <select class="form-select form-select-lg" name="comuna">
                            {{comunas|safe}}
                        </select>
                    </div>
                </div>

                <div class="row esp-input">
                    <label for="ubicacion" class="col-sm-4 col-form-label col-form-label-lg">Ubicacion:</label>
                    <div class="col-sm-8">
                        {%if visita.ubicacion is not None%}
                            <input class="form-control form-control-lg" type="text" name="ubicacion" placeholder="Antonio Varas 666" value="{{visita.ubicacion}}"></input>
                        {%else%}
                            <input class="form-control form-control-lg" type="text" name="ubicacion" placeholder="Antonio Varas 666"></input>
                        {%endif%}
                    </div>
                </div>

                <div class="row esp-input">
                    <label for="fecha" class="col-sm-4 col-form-label col-form-label-lg">Fecha:</label>
                    <div class="col-sm-8">
                        {%if visita.fecha is not none%}
                            <input class="form-control form-control-lg" type="date" name="fecha" value="{{visita.fecha | date:'Y-m-d'}}" min="{{visita.periodo | date:'Y-m'}}-01" max="{{visita.periodo | date:'Y-m-t'}}"/><br>
                        {%else%}
                            <input class="form-control form-control-lg" type="date" name="fecha" min="{{visita.periodo | date:'Y-m'}}-01" max="{{visita.periodo | date:'Y-m-t'}}"/><br>
                        {%endif%}
                    </div>
                </div>

                <div class="row esp-input col-sm-12">
                    <div class="col-sm-6">
                        <a href="{% url 'visitas' %}"><button type="button" class="btn btn-back btn-lg col-sm-12">Volver</button></a>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" class="btn btn-primary btn-lg col-sm-12" value="Guardar Visita"/>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}