{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Reportes{%endblock%}
{%block head%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>
    {{script | safe}}
    <script>
        $(document).ready(function(){
            const grafico = $("#usuariosTipo");
            const usuariosTipo = new Chart(grafico,{
                type: 'pie',
                data: {
                    labels: [
                        'Clientes',
                        'Profesionales',
                        'Administradores'
                    ],
                    datasets: [{
                        label: 'Cantidad de usuarios por tipo',
                        data: datos,
                        backgroundColor: [
                        'rgb(54, 162, 235)',
                        'rgb(255, 99, 132)',
                        'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                    }]
                },
                options:{
                    plugins:{
                        labels:{
                            fontSize: 24,
                            fontColor: 'purple'
                        }
                    }
                }
            });
        });
    </script>
{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">

        <div class="contenedor">

            <div class="espacio">

                <div class="row esp-input">
                    <div class="card">
                        <div class="card-body">
                        <h1 class="card-title tx-gradiente-p">Reportes</h1>
                        </div>
                    </div>
                </div>

                <div class="row esp-input col-sm-12">
                    <div class="panel-blanco-redondo">
                        <div class="row esp-input col-sm-6">
                            <center><h2 class="card-title tx-gradiente-p">Cantidad de usuarios por tipo</h2></center>
                            <canvas id="usuariosTipo"></canvas>
                        </div>
                    </div>
                </div>

                <table class="table table-responsive table-light table-striped align-middle">
                    <thead>
                        <caption>
                            <h3 class="tx-gradiente-p medio-tx">Recaudaciones por Periodo</h3>
                        </caption>
                        
                        <tr>
                            <th scope="col">Año</th>
                            <th scope="col">Mes</th>
                            <th scope="col">Total</th>
                        </tr>

                    </thead>
                    <tbody>
                        {% for pago in pagos%}
                            <tr>
                                <th>{{pago.año}}</th>
                                <th>{{pago.mes}}</th>
                                <th>${{pago.costo}}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}