{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Solicitudes{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">

        <div class="contenedor">

            <div class="espacio">

                <div class="row esp-input">
                    <div class="card">
                        <div class="card-body">
                        <h1 class="card-title tx-gradiente-p">Solicitudes</h1>
                        </div>
                    </div>
                </div>
                
                {% for mensaje in messages %}
                    <br>
                    <div class="alert alert-primary alert-dismissible fade show col-sm-12" role="alert">
                        <strong>{{mensaje}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                <table class="table table-responsive table-light table-striped align-middle">
                    <thead>
                        <caption>
                            <h3 class="tx-gradiente-p medio-tx">Historial de solicitudes</h3>
                        </caption>
                        <caption>
                            <input type="text" class="buscarTabla form-control form-control-lg col-sm-12" placeholder="Buscar en Tabla">
                        </caption>
                        
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Motivo</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Fecha Publicación</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>

                    </thead>
                    <tbody>
                        {%for solicitud in solicitudes%}
                            <tr>
                                <th scope="col">{{solicitud.nombre_cliente}}</th>
                                <th scope="col" style="max-width: 200px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">{{solicitud.motivo}}</th>
                                <th scope="col">{{solicitud.tipo}}</th>
                                <th scope="col">{{solicitud.fecha_publicacion | date:'d/m/Y'}}</th>
                                <th scope="col">{{solicitud.estado}}</th>
                                {%if solicitud.estado == 'RESUELTA' or solicitud.estado == 'RECHAZADA'%}
                                    <th><a href="{% url 'responder_solicitud' id_sol=solicitud.id_solicitud%}"><button class="accion btn btn-primary col-sm-12">Ver Respuesta</button></a></th>
                                {%else%}
                                    <th><a href="{% url 'responder_solicitud' id_sol=solicitud.id_solicitud%}"><button class="accion btn btn-primary col-sm-12">Responder Solicitud</button></a></th>
                                {%endif%}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}