{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Solicitudes{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">
        <div class="contenedor">
            <div class="espacio">

                <div class="row esp-input">
                    <div class="card">
                        <div class="card-body">
                        <h1 class="card-title tx-gradiente-p">Solicitudes</h1>
                        </div>
                    </div>
                </div>

                <!--<div class="row esp-input col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h2>Te quedan: <strong class="tx-gradiente-am">7</strong> Solicitudes (las demas seran <strong>cargadas</strong>)</h2>
                        </div>
                    </div>
                </div>-->

                {% for mensaje in messages %}
                    <div class="alert alert-danger alert-dismissible fade show col-sm-12" role="alert">
                        <strong>{{mensaje}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <div class="row esp-input col-sm-12">
                    <table class="table table-responsive table-light table-striped">
                        <thead>
                            <caption>
                                <h3 class="tx-gradiente-p medio-tx float-start">Historial de Solicitudes</h3>
                                <a href="{%url 'crearsolicitud'%}" class="float-end"><button class="accion btn btn-primary col-sm-12 ">Crear Solicitud</button></a>
                            </caption>
                            <caption>
                                <input type="text" class="buscarTabla form-control form-control-lg col-sm-12" placeholder="Buscar en Tabla">
                            </caption>
                            <tr>
                                <th scope="col">Motivo</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Accion</th>
                            </tr>

                        </thead>
                        <tbody>
                            {%for solicitud in solicitudes%}
                            <tr>
                                <th style="max-width: 200px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">{{solicitud.motivo}}</th>
                                <th>{{solicitud.tipo}}</th>
                                <th>{{solicitud.fecha_publicacion | date:'d/m/Y'}}</th>
                                <th>{{solicitud.estado}}</th>
                                {%if solicitud.estado == 'RESUELTA' %}
                                    <th><a href="{% url 'detallesolicitud_cli' id_sol=solicitud.id_solicitud%}"><button class="accion btn btn-primary col-sm-12">Ver Respuesta</button></a></th>
                                {%else%}
                                    <th><a href="{% url 'detallesolicitud_cli' id_sol=solicitud.id_solicitud%}"><button class="accion btn btn-primary col-sm-12">Ver Detalle</button></a></th>
                                {%endif%}
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{%endblock%}