{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Ver Actividades{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">

        <div class="contenedor">

            <div class="espacio">

                <div class="row esp-input">
                    <div class="card">
                        <div class="card-body">
                        <h1 class="card-title tx-gradiente-p">Ver Actividades</h1>
                        </div>
                    </div>
                </div>
                
                <table class="table table-responsive table-light table-striped align-middle">
                    <thead>
                        <caption>
                            <h3 class="tx-gradiente-p medio-tx">Tabla de Actividades</h3>
                        </caption>
                        
                        <caption>
                            <input type="text" class="buscarTabla form-control form-control-lg col-sm-12" placeholder="Buscar en Tabla">
                        </caption>
                        
                        <tr>
                            <th scope="col">Profesional</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Ubicacion</th>
                        </tr>

                    </thead>
                    <tbody>
                        {%for actividad in actividades%}
                            <tr>
                                <th>{{actividad.nombre_profesional}}</th>
                                <th>{{actividad.tipo}}</th>
                                <th>{{actividad.fecha | date:'d/m/Y'}}</th>
                                <th>{{actividad.ubicacion}}</th>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}