{%extends 'SSAP/base.html'%}
{% load static %}
{%block titulo%}SSAP | Ver Clientes{%endblock%}
{%block contenido%}
<div class="fondo-global">
    <div class="fondo-home">

        <div class="contenedor">

            <div class="espacio">

                <div class="row esp-input">
                    <div class="card">
                        <div class="card-body">
                        <h1 class="card-title tx-gradiente-p">Ver Clientes</h1>
                        </div>
                    </div>
                </div>
                
                <table class="table table-responsive table-light table-striped align-middle">
                    <thead>
                        
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                        </tr>

                    </thead>
                    <tbody>
                        {{clientes | safe}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}